<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(pageTitle)">
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title th:text="${pageTitle}"></title>
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}"
    />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <script th:src="@{/scripts/json-enc.js}"></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
    <script src="https://unpkg.com/htmx-ext-client-side-templates@2.0.0/client-side-templates.js"></script>
    <script th:src="@{/webjars/mustache/mustache.min.js}"></script>
  </head>
</html>
