<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head(pageTitle='privileges')}"></head>
  <body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container vh-100">
      <div th:replace="~{fragments/wip :: wip}"></div>
      <div class="mb-3 d-grid gap-2" th:if="${error}">
        <div
          class="alert alert-danger mb-3"
          role="alert"
          th:text="${error}"
        ></div>
      </div>
      <div class="mb-3">
        <button
          class="btn btn-success btn-l"
          data-bs-target="#save"
          data-bs-toggle="modal"
          type="button"
        >
          New <i class="bi bi-plus-square-fill"></i>
        </button>
      </div>
      <div class="mb-3 table-responsive">
        <table class="table table-hover" id="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Label</th>
              <th scope="col">Is default</th>
              <th scope="col">Created at (UTC)</th>
              <th scope="col">Last update at (UTC)</th>
              <th class="no-sort" scope="col"></th>
              <th class="no-sort" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="privilege: ${privileges}">
              <th scope="row" th:text="${privilege.id}"></th>
              <td th:text="${privilege.label}"></td>
              <td th:text="${privilege.isDefault}"></td>
              <td th:text="${privilege.createdAt}"></td>
              <td th:text="${privilege.updateAt}"></td>
              <td>
                <button
                  class="btn btn-primary btn-sm"
                  data-bs-toggle="modal"
                  th:data-bs-target="'#update' + ${privilege.id}"
                  type="button"
                >
                  <i class="bi bi-pencil-square"></i>
                </button>
                <div
                  aria-hidden="true"
                  aria-labelledby="updateLabel"
                  class="modal fade"
                  data-bs-backdrop="static"
                  data-bs-keyboard="false"
                  tabindex="-1"
                  th:id="'update' + ${privilege.id}"
                >
                  <div
                    class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
                  >
                    <div class="modal-content">
                      <form
                        th:action="@{/privilege/{id}(id=${privilege.id})}"
                        th:method="put"
                      >
                        <input th:replace="~{fragments/csrf :: csrf}" />
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="updateLabel">
                            Update privilege
                          </h1>
                          <button
                            aria-label="Close"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            type="button"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label class="form-label" for="labelU">Label</label>
                            <input
                              class="form-control"
                              id="labelU"
                              name="label"
                              required
                              th:value="${privilege.label}"
                              type="text"
                            />
                          </div>
                          <div class="form-check form-switch">
                            <input
                              aria-describedby="isDefaultHelp"
                              class="form-check-input"
                              id="isDefaultU"
                              name="isDefault"
                              role="switch"
                              th:checked="${privilege.isDefault ? 'checked' : null}"
                              type="checkbox"
                              value="true"
                            />
                            <label class="form-check-label" for="isDefaultU"
                              >is default?</label
                            >
                            <div class="form-text" id="isDefaultUHelp">
                              default privileges are automatically added to new
                              and existing roles
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                            type="button"
                          >
                            Cancel
                          </button>
                          <button class="btn btn-primary" type="submit">
                            Update <i class="bi bi-pencil-square"></i>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <button
                  class="btn btn-danger btn-sm"
                  data-bs-toggle="modal"
                  th:data-bs-target="'#delete' + ${privilege.id}"
                  type="button"
                >
                  <i class="bi bi-trash"></i>
                </button>
                <div
                  aria-hidden="true"
                  aria-labelledby="deleteLabel"
                  class="modal fade"
                  data-bs-backdrop="static"
                  data-bs-keyboard="false"
                  tabindex="-1"
                  th:id="'delete' + ${privilege.id}"
                >
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <form
                        th:action="@{/privilege/{id}(id=${privilege.id})}"
                        th:method="delete"
                      >
                        <input th:replace="~{fragments/csrf :: csrf}" />
                        <div class="modal-body">Confirm delete</div>
                        <div class="modal-footer">
                          <button
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                            type="button"
                          >
                            Cancel
                          </button>
                          <button class="btn btn-danger" type="submit">
                            Confirm <i class="bi bi-trash"></i>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      aria-hidden="true"
      aria-labelledby="saveLabel"
      class="modal fade"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      th:id="save"
    >
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
          <form th:action="@{/privilege}" th:method="post">
            <input th:replace="~{fragments/csrf :: csrf}" />
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="saveLabel">Add new privilege</h1>
              <button
                aria-label="Close"
                class="btn-close"
                data-bs-dismiss="modal"
                type="button"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label class="form-label" for="labelS">Label</label>
                <input
                  class="form-control"
                  id="labelS"
                  name="label"
                  required
                  type="text"
                />
              </div>
              <div class="form-check form-switch">
                <input
                  aria-describedby="isDefaultHelpS"
                  class="form-check-input"
                  id="isDefaultS"
                  name="isDefault"
                  role="switch"
                  type="checkbox"
                  value="true"
                />
                <label class="form-check-label" for="isDefaultS"
                  >is default?</label
                >
                <div class="form-text" id="isDefaultHelpS">
                  default privileges are automatically added to new and existing
                  roles
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                type="button"
              >
                Cancel
              </button>
              <button class="btn btn-success" type="submit">
                Save <i class="bi bi-plus-square-fill"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script th:src="@{/scripts/datatables-init.js}"></script>
  </body>
</html>
